:root {
    --main-color: black;
    --second-color: rgb(248, 165, 42);
    --third-color: rgb(208, 67, 29);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/leaves.png), url(../images/leaves3.png);
    background-color: var(--main-color);
    background-size: 275px;
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;  
    background-attachment: fixed;
}

ul {
    list-style: none;
}
.container {
    width: 1200px;
    background-color: var(--second-color);
    padding: 5px 15px;
    font-size: 20px;
    border: 3px dashed var(--main-color);
    background-image: linear-gradient(to bottom, var(--third-color), var(--second-color));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.title {
   text-align: center;
}

.title>p { 
    font-size: 35px;
}

.title>h1 {
    font-size: 70px;
}

h1 {
    background-color: var(--second-color);
    box-shadow: 0 3px 3px var(--main-color);
    
}

h2::before {
    content: '🍂';
}

article>p::after {
    content: '🍁🍂🍁'
}
.mushroom {  
    width: 100px;
    height: 100px;
    margin: 0 auto; 
}

.animation-mushroom:nth-child(odd) {
animation: mushrooms 2s infinite 1s;
}

.animation-mushroom:nth-child(even) {
    animation: mushrooms 2s infinite;
}

.mushroom:hover {
    box-shadow: 0px 0px 2px 2px var(--main-color);    
}

.list-img {
    display: flex;
    justify-content: space-around;
    gap: 40px;   
}

.header-container {
    background-color: var(--main-color);
    border: 1px dashed var(--second-color);
    margin-bottom: 20px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
     
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    
}

.leaves {
    animation: leaf2 10s linear infinite;
}


.leaves-list {
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    padding-right: 20px;
}


.icon {
    fill: var(--second-color);
    width: 32px;
    height: 32px;
}

.icon:hover, 
.icon:focus {
    fill: var(--third-color);
}

.p-header {
    font-size: 20px;
    color: var(--second-color);
}

.bunny {
    width: 250px;
    display: block;
    margin: 0 auto;
    animation: bunny 4s linear infinite;

}
.bunny-article {
    display: flex;
}
.bunny-p {
    width: fit-content;
}

.bunny-p::after {
    content: '🍁🍂🍁'
}


