:root {
    --main-color: black;
    --second-color: rgb(248, 165, 42);
    --third-color: rgb(208, 67, 29);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./), url(./images/leaves3.png);
    background-color: var(--main-color);
    background-size: 275px;
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;  
    background-attachment: fixed;
}

ul {
    list-style: none;
}
.container {
    width: 1200px;
    background-color: var(--second-color);
    padding: 5px 15px;
    font-size: 20px;
    border: 3px dashed var(--main-color);
    background-image: linear-gradient(to bottom, var(--third-color), var(--second-color));
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    
}

.title {
   text-align: center;
}

.title>p { 
    font-size: 35px;
}

.title>h1 {
    font-size: 70px;
}

h1 {
    background-color: var(--second-color);
    box-shadow: 0 3px 3px var(--main-color);
}

article>h2::before {
    content: '🍂';
}

article>p::after {
    content: '🍁🍂🍁'
}
.mushroom {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.list-img {
    display: flex;
    justify-content: center;
    gap: 40px;
}